<div class="row">
		<div class="col-xs-12">
	<nav class="main-nav-outer" id="test">
			<!--main-nav-start-->
			<div class="container">			
				<ul class="main-nav">
					<li ><a [routerLink]="['/clients']">Clients </a></li>
					<li><a><img src="img/small-logo.png"></a></li>					
					<li><a [routerLink]="['/users']">Users </a></li>
								
				</ul>
				<a class="res-nav_click" [routerLink]="['/clients']"><i class="fa fa-bars"></i></a>				
			</div>
		</nav>
	<router-outlet></router-outlet>
	</div>
</div>
	