<div class="container-fluid">
<div>
	<img src="img/section-bg2.jpg" alt="bg">
</div>
</div>
<div class="container">
	  <div    id="pricing" class="pricing-area area-padding">
	  <form #f="ngForm"  name="auth">
		<div class="container">
		  <div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
			  <div class="section-headline text-center">
				<h2>Sign In User </h2>
			  </div>
			</div>
		  </div>		  
		  <div class="row">
			<div class="col-md-4 col-sm-4 col-xs-4">
			</div>
			
			
			  <div class="pri_table_list active col-md-4 col-sm-4 col-xs-4" >            			  
				<div class="form-group">
					<label for="userRole">User role </label>
					<select  id="userRole" name="userRole" [(ngModel)]="userRole" class="form-control" required>
						<option>God</option>
						<option>User</option>
					</select>
				</div>
				<div class="form-group">
					<label for="userName">Username </label>
					<input pattern="[a-zA-Z0-9]{1,20}" type="text" id="userName"  name="userName" [(ngModel)]="userName" class="form-control" required>
				</div>
				
				<div class="form-group">
					<label for="pwd">Passoword </label>
					<input  type="password" id="pwd" name="pwd" [(ngModel)]="pwd" class="form-control" required>
				</div>
				<button type="submit" (click) = "signIn()" class="btn btn-info btn-lg" [disabled]="!f.valid" >Login </button>	  
				</div>
				
				<div class="col-md-4 col-sm-4 col-xs-4">
				</div>
			
				</div>
				</div>
				
			</form>
		</div>
	</div>

