<div class="container-fluid">
<div>
	<img src="img/section-bg2.jpg" alt="bg">
</div>
</div>
	<div class="container">
		
			<div class="col-md-10 col-sm-10 col-xs-10">	
				<form>
					<table  width="100%" class='table table-hover'>
							
							<tr class="table table-hover" *ngFor="let client of itrash | paginate:{itemsPerPage:5,currentPage:p,totalItems:i}; let i = index"  role="button"  >
								<td>{{client.clientId}}.</td><td>{{client.idNumber}}</td><td>{{" "}}{{client.fName}} </td><td>{{" "}}{{client.lname}} </td><td><button class="btn btn-danger" type="submit" name="delete" (click)="postRestoreData(client)">RESTORE</button> <span class="glyphicon glyphicon-trash" > </span></td>
							</tr> 		
						
					</table>
					<div>
						<pagination-controls 
							(pageChange)="p=$event"
										
						>
						</pagination-controls>
					</div>
				</form>
			</div>

	
	  
</div>