<div class="container-fluid">
<div>
	<img src="img/section-bg2.jpg" alt="bg">
<div>
</div>
<div class="container">
<form>
	<table  width="100%" class='table table-hover'>
			
			<tr class="table table-hover" *ngFor="let user of iusers | paginate:{itemsPerPage:2,currentPage:p,totalItems:index}; let i = index"  role="button"  >
				<td>{{user.clientId}}.</td><td>{{user.idNumber}}</td><td>{{" "}}{{user.fname}} </td><td>{{" "}}{{user.lname}} </td><td><button class="btn btn-danger" type="submit" name="delete" (click)="postRestoreData(user)">RESTORE</button> <span class="glyphicon glyphicon-trash" > </span></td>
			</tr> 		
		
	</table>
	<ngx-datatable [columns ] = "columns"></ngx-datatable>
	<div>
		<pagination-controls 
			(pageChange)="p=$event"
			maxSize=7
			
		>
		</pagination-controls>
	</div>
</form>
	