<div class="container-fluid">
<div>
	<button class="btn btn-success pull-left"> <a style="color:white" [routerLink]="['/create']">CREATE USER <span class="glyphicon glyphicon-plus"> </span></a></button>  <button class="btn btn-warning pull-left"> <a style="color:white" [routerLink]="['/usertrash']">TRASH </a></button>  <form><button class="btn btn-danger pull-right" type ="submit" name="submit" (click)="signOut()">Logout </button></form><img width="5000" src="img/section-bg2.jpg" alt="bg">
<div>
</div>
<div class="container">
	<form>
		<table width="100%" class='table table-hover' >
				
				<tr class="table table-hover" *ngFor="let user of mf.iusers | paginate:{itemsPerPage:5,currentPage:p,totalItems:index}; let i = index"  role="button"  >
					<td>{{user.clientId}}.</td><td>{{user.user.idNumber}}</td><td>{{" "}}{{user.user.fname}} </td><td>{{" "}}{{user.user.lname}} </td><td><span class="glyphicon glyphicon-trash" > </span><button class="btn btn-danger" type="submit" name="delete" (click)="postDeleteData(user)">Delete</button> </td>
				</tr> 		
			
		</table>
		<div>
			<pagination-controls 
				(pageChange)="p=$event"
				maxSize=7
				
			>
			</pagination-controls>
		</div>
	</form>	
	  