
	<section class="main-section paddind" id="Portfolio">
		<!--main-section-start-->
		<div class="container">
			<h2>Portfolio</h2>
			<h6>Fresh portfolio of designs that will keep you wanting more.</h6>
			<div class="portfolioFilter">
				<ul class="Portfolio-nav wow fadeIn delay-02s">
					<li><a  data-filter="*" class="current">All</a></li>
					<li><a  data-filter=".frontend">Front End Web design</a></li>
					<li><a  data-filter=".backendwebdesign">Back End web Application</a></li>
					<li><a  data-filter=".rest">RESTful web services</a></li>
				</ul>
			</div>

		</div>
		<div class="portfolioContainer wow fadeInUp delay-04s">
			<div class=" Portfolio-box backendwebdesign">
				<a href="img/Portfolio-pic1.png"><img src="img/Portfolio-pic1.png" alt=""></a>
				<h3>Java, Spring Boot, Spring MVC 4&5, MySQL and Hibernate ORM </h3>
				<p>Back End Design</p>
			</div>
			<div class="Portfolio-box rest">
				<a href="img/Portfolio-pic2.jpg"><img src="img/Portfolio-pic2.jpg" alt=""></a>
				<h3>Angular Js 1 and 2 interface Java EE Spring MVC or PHP Laravel 5 RESTful webservices </h3>
				<p>Front end Web development</p>
			</div>
			
			<div class=" Portfolio-box frontend">
				<a href="img/Portfolio-pic6.jpg"><img src="img/Portfolio-pic6.jpg" alt=""></a>
				<h3>HTML5 and CSS3</h3>
				<p>Front end Web development</p>
			</div>
			<div class=" Portfolio-box rest">
				<a href="img/Portfolio-pic4.jpg"><img src="img/Portfolio-pic4.jpg" alt=""></a>
				<h3>Angular Js 1 and 2</h3>
				<p>Front end Web development</p>
			</div>
			<div class=" Portfolio-box frontend">
				<a href="img/Portfolio-pic5.jpg"><img src="img/Portfolio-pic5.jpg" alt=""></a>
				<h3>JavaScript</h3>
				<p>Front end Web development</p>
			</div>
			<div class=" Portfolio-box backendwebdesign">
				<a href="img/Portfolio-pic3.png"><img src="img/Portfolio-pic3.png" alt=""></a>
				<h3>MySQL and PHP Laravel 5 ORM Back End</h3>
				<p>Applications development</p>
			</div>
		</div>
	</section>
	<!--main-section-end-->
	
	
	


 <!-- start pricing area -->
  <div id="pricing" class="pricing-area area-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <h2>Pricing Table</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="pri_table_list">		  
            <span class="saleon">top sale</span>
            <h3>Basic(Static 5 page website) <br/> <span>R3 000.00 / once off</span></h3>
            <ol>
              <li class="check">Online system</li>
              <li class="check cross">Full access</li>
			  <li class="check ">Email access plus R 2 000.00</li>
              <li class="check ">Free domin</li>
			   <li class="check ">R200.00 domain hosting (free for first 2 years)</li>
             
              <li class="check ">Support unlimited</li>
              <li class="check">Payment online</li>
              <li class="check cross">Cash back</li>
            </ol>
            <button>sign up now</button>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="pri_table_list active">
            <h3> Standard (API's)  <br/> <span>R10 000.00 / once off</span></h3>
            <ol>
              <li class="check">Online system</li>
              <li class="check ">Free domain </li>			  
              <li class="check ">R1000 domain hosting(free for first 2 years)</li>
              <li class="check">Support unlimited</li>
              <li class="check">Payment online</li>
              <li class="check cross">Cash back</li>
            </ol>
            <button>sign up now</button>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="pri_table_list">
            <h3>Third party API's, premium(API's) <br/> 20 000.00 / once off <span></span></h3>
            <ol>
              <li class="check">Online system</li>
              <li class="check">Free domain</li>
			    <li class="check">2000 domain hosting and maintainance / monthly </li>
              <li class="check">Support unlimited</li>
              <li class="check">Payment online</li>
              <li class="check cross">Cash back</li>
            </ol>
            <button>sign up now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <br/>
  <!-- End pricing table area -->