	<div class="container-fluid">
	<div>
		<form><button class="btn btn-success pull-left"> <a style="color:white" [routerLink]="['/saveclient']">CREATE </a></button> </form> <button class="btn btn-warning pull-left"> <a style="color:white" [routerLink]="['/clientstrash']">TRASH </a></button>  <form><button class="btn btn-danger pull-right" type ="submit" name="submit" (click)="signOut()">Logout </button></form><img width="5000" src="img/section-bg2.jpg" alt="bg">
	</div>
	</div>
		<div class="container">
		<ngx-growl></ngx-growl>
			<div class="col-md-12 col-sm-12 col-xs-12">	
				<form>
					<table  width="100%" class='table table-hover'>
							
							<tr class="table table-hover" *ngFor="let client of iclients | paginate:{itemsPerPage:5,currentPage:p,totalItems:i}; let i = index"  role="button"  (click)="syncClientData(client)" >
								<td></td><td></td><td>{{client.clientId}}.</td><td>{{client.idNumber}}</td><td>{{" "}}{{client.fname}} </td><td>{{" "}}{{client.lname}} </td><td><span class="glyphicon glyphicon-trash" > </span><button class="btn btn-danger" type="submit" name="delete" (click)="postDeleteData(client)">Delete</button> </td>
							</tr> 		
						
					</table>
					<div>
						<pagination-controls 
							(pageChange)="p=$event"
										
						>
						</pagination-controls>
					</div>
				</form>
			</div>
		</div>

	
	  <div    id="pricing" class="pricing-area area-padding">
	  <form #f="ngForm"  name="address">
		<div class="container">
		  <div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
			  <div class="section-headline text-center">
				<h2>Contact information</h2>
					
			  </div>
			</div>
		  </div>
		  
		  <div class="row">
			<div class="col-md-5 col-sm-5 col-xs-12">
			  <div class="pri_table_list active" ngModelGroup="address">
			  
				<h3>Address details</h3>
            			  
				<div class="form-group">
					<label for="streetNumber">streetnumber </label>
					<input pattern="[a-zA-Z]{1,20}" type="text" id="streetNumber" name="streetNumber" [(ngModel)]="streetNumber" class="form-control" required>
				</div>

				<div class="form-group">
					<label for="streetName">streetname </label>
					<input pattern="[a-zA-Z]{1,20}" type="text" id="streetName"  name="streetName" [(ngModel)]="streetName" class="form-control" required>
				</div>
				
				<div class="form-group">
					<label for="suburb">suburb </label>
					<input pattern="[a-zA-Z]{1,20}" type="text" id="surbub" name="surbub" [(ngModel)]="surbub" class="form-control" required>
				</div>
				
				<div class="form-group">
				<div *ngIf="postalCode.invalid && (postalCode.dirty || postalCode.touched)" class="alert alert-danger">Error</div>
					
					<label for="postalCode">postalcode </label>
					<input pattern='^\+?\d{0,4}' maxlength="4" type="number" id="postalCode" name="postalCode" [(ngModel)]="postalCode"  class="form-control" required>
				</div>	
				</div>	
				
			</div>
			<div class="col-md-1 col-sm-1 col-xs-12">
			</div>
			<div class="col-md-5 col-sm-5 col-xs-12">
			  <div class="pri_table_list active" >
				<h3>Contact details</h3>
				
					<div class="form-group">
					
						<label for="mobileNumber">mobile number </label>
						<span class= "input-group-addon">+27 - 000-0000
							<input pattern='^\+?\d{9,9}' 
									type="number" 
									id="mobileNumber" 
									name="mobileNumber" 
									[(ngModel)]="mobileNumber" 
									class="form-control" 
									required></span>
					</div>
					
					<div class="form-group" >
						<label for="email">email address </label>
							<input type="email" 
							id="email" 
							name="email"
							[(ngModel)]="email"
							class="form-control" 
							required
							pattern ="[a-zA-z0-9]{1,}@[a-zA-z0-9.-]{2,}[.]{1}[a-zA-Z]{2,}">
					</div>	
				<button type="submit" (click) = "postEditData()" class="btn btn-info btn-lg" [disabled]="!f.valid" >save </button>	  				
			</div>
			<br/>
			<br/> 
			<br/>
			<br/>
			<br/>
			</div>
				
			    
		  
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12">
		
		 </div>
	   <div class="col-md-4 col-sm-4 col-xs-12">
	   <mat-toolbar>
			<span>angular formly </span>
	   </mat-toolbar>
		 </div>
	  </div>
		<div class="col-md-4 col-sm-4 col-xs-12">
		 </div>	
		<br/>
	
</form>
</div>