	<div class="container-fluid">
		<div>
			<button class="btn btn-warning pull-left"> <a style="color:white" [routerLink]="['/trash']">TRASH </a></button>  <form><button class="btn btn-danger pull-right" type ="submit" name="submit" (click)="signOut()">Logout </button></form><img width="5000" src="img/section-bg2.jpg" alt="bg">
		</div>
	</div>
	  <div    id="pricing" class="pricing-area area-padding">
	  <form #f="ngForm"  name="address">
		<div class="container">
		  <div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
			  <div class="section-headline text-center">
				<h2>CREATE CLIENT </h2>
			
			  </div>
			</div>
		  </div>
		  
		  <div class="row">
		  <div class="col-md-4 col-sm-4 col-xs-12">
			    <div class="pri_table_list active" ngModelGroup="address">
			  
					<h3>Personal details</h3>							  
					<div class="form-group">
						<label for="lName">First Name </label>
						<input pattern="[a-zA-Z]{1,20}" type="text" id="lName" name="lName" [(ngModel)]="lName" class="form-control" required>
					</div>

					<div class="form-group">
						<label for="fName">Last Name </label>
						<input pattern="[a-zA-Z]{1,20}" type="text" id="fName"  name="fName" [(ngModel)]="fName" class="form-control" required>
					</div>
					
					<div class="form-group">
						<label for="idNumber">ID Number </label>
						<input pattern="[0-9]{13,13}" type="text" id="idNumber" name="idNumber" [(ngModel)]="idNumber" class="form-control" required>
					</div>
				</div>	
				
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
			  <div class="pri_table_list active" ngModelGroup="address">
			  
				<h3>Address details</h3>
            			  
				<div class="form-group">
					<label for="streetNumber">streetnumber </label>
					<input pattern="[a-zA-Z]{1,20}" type="text" id="streetNumber" name="streetNumber" [(ngModel)]="streetNumber" class="form-control" required>
				</div>

				<div class="form-group">
					<label for="streetName">streetname </label>
					<input pattern="[a-zA-Z]{1,20}" type="text" id="streetName"  name="streetName" [(ngModel)]="streetName" class="form-control" required>
				</div>
				
				<div class="form-group">
					<label for="suburb">suburb </label>
					<input pattern="[a-zA-Z]{1,20}" type="text" id="surbub" name="surbub" [(ngModel)]="surbub" class="form-control" required>
				</div>
				
				<div class="form-group">
				<div *ngIf="postalCode.invalid && (postalCode.dirty || postalCode.touched)" class="alert alert-danger">Error</div>
					
					<label for="postalCode">postalcode </label>
					<input pattern='^\+?\d{0,4}' maxlength="4" type="number" id="postalCode" name="postalCode" [(ngModel)]="postalCode"  class="form-control" required>
				</div>	
				</div>	
				
			</div>
			
			<div class="col-md-4 col-sm-4 col-xs-12">
			  <div class="pri_table_list active" >
				<h3>Contact details</h3>
				
					<div class="form-group">
					
						<label for="mobileNumber">mobile number </label>
						<span class= "input-group-addon">+27 - 000-0000
							<input pattern='^\+?\d{9,9}' 
									type="number" 
									id="mobileNumber" 
									name="mobileNumber" 
									[(ngModel)]="mobileNumber" 
									class="form-control" 
									required></span>
					</div>
					
					<div class="form-group" >
						<label for="email">email address </label>
							<input type="email" 
							id="email" 
							name="email"
							[(ngModel)]="email"
							class="form-control" 
							required
							pattern ="[a-zA-z0-9]{1,}@[a-zA-z0-9.-]{2,}[.]{1}[a-zA-Z]{2,}">
					</div>
					
				<button  type="submit" (click) = "postSaveData(x)" class="btn btn-info btn-lg" [disabled]="!f.valid" >save </button>	  				
			</div>
			<br/>
			<br/> 
			<br/>
			<br/>
			<br/>
			</div>
				
			    
		  
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12">
			<table border="1">
				<tr *ngFor = " let x of myPusher">
					<td>
						Username : {{x.userName}}			
					</td>
				</tr>
			</table>
		 </div>
	   <div class="col-md-4 col-sm-4 col-xs-12">
		 </div>
	  </div>
		<div class="col-md-4 col-sm-4 col-xs-12">
		 </div>	
		<br/>
	
</form>
</div>